/* Add styling for TopMoviesList */
.top-movies {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .top-movies h1 {
    margin-bottom: 10px;
  }
  
  .top-movies ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .top-movies li {
    margin-bottom: 10px;
  }
  
  .top-movies a {
    text-decoration: none;
    color: blue;
  }
  
  .top-movies a:hover {
    text-decoration: underline;
  }
  